#body {
  background-color: lightyellow;


}

#block1 {

  border-color: lightsalmon;
  background-color: rgb(255, 234, 118);
  padding-bottom: 80px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 15px;




}

h1 {
  position: absolute;
  top: -1%;
  right: 65%;



}

#block2 {
  padding-top: 15px;
  border-color: lightsalmon;
  background-color: white;
  padding-bottom: 0.1px;
  margin-left: 100px;
  margin-right: 200px;
  width: 50%;
  height: 121.5%;
  padding-right: 10px;
  padding-left: 10px;
}

#block3 {
  padding-top: 15px;
  background-color: lightgray;
  height: 119.2%;
  width: 174.5px;
  position: absolute;
  left: 65%;
  top: 103px;
}




ul {

  position: absolute;
  left: 1.9%;
  top: 2.7%;


}