 table {
   border-collapse: separate;
   border-spacing: 6px 6px;


 }

 .one1 {

   box-shadow: 3px 3px 3px grey;
   padding: 5px;
   margin-bottom: 10px;
   border-radius: 6px;


 }

 .one2 {
   box-shadow: 3px 3px 3px grey;
   padding: 5px;
   margin-bottom: 10px;
   border-radius: 6px;


 }

 .one3 {
   box-shadow: 3px 3px 3px grey;
   padding: 5px;
   margin-bottom: 10px;
   border-radius: 6px;

 }

 .two1 {
   box-shadow: 3px 3px 3px grey;
   padding: 5px;
   margin-bottom: 10px;
   border-radius: 6px;

 }

 .two2 {
   box-shadow: 3px 3px 3px grey;
   padding: 5px;
   margin-bottom: 10px;
   border-radius: 6px;

 }


 .two3 {
   box-shadow: 3px 3px 3px grey;
   padding: 5px;
   margin-bottom: 10px;
   border-radius: 6px;


 }